body#main_body {font-size: medium;   background: #fff; padding: 0px; margin: 0; color: black;  font-family: Arial, Verdana,sans-serif;}

/*----Global---*/
img {border:0;}
a {color:#336699; text-decoration: underline;}
a:hover {text-decoration:none;}
form {padding:0; margin:0;}
table {border-collapse: collapse;}
td {vertical-align:top;}


h1, h2, h3, h5 {font-weight:normal; margin:0;}
h1 {font-size:260%;  padding:13px 81px 13px 51px; line-height:130%;}
h2 {font-size:166%; color:#b37700; padding:14px 0 20px 0px; }
h2 span {color:#000;}
h3, dt {font-size:166%; color:#669900; padding:14px 0 20px 0px; }
h5 {font-size:150%; color:#664400; margin:0; padding: 0 0 10px 0;}

ul {margin:0; list-style-type: none; padding:0px 0 13px 0;}
ul li {padding: 0 0 6px 18px; background: transparent url(images/arr.gif) 0 9px no-repeat;}

dl {margin:0; padding:0;}
dd {margin:0; padding:2px 0 10px 0;}
dd span {color:#446600; font-size:120%;}

small {font-size:94%}

p {margin:0; padding:6px 0;}

#container {min-width: 762px; width:76.2%; margin:39px auto 0 auto; line-height:150%; font-size:95%; background: #eeeec4 url(images/container_bord.gif) 0 0 repeat-y;}
#container_right_bg {background: transparent url(images/container_bord.gif) 100% 0 repeat-y;}
#container_top {width:100%; background: #eeeec4 url(images/container_bord.gif) 0 0 repeat-x;}
#container_tl {width:50%; height:18px; background: transparent url(images/container_tl.gif) 0 0 no-repeat;}
#container_tr {width:50%; height:18px; background: transparent url(images/container_tr.gif) 100% 0 no-repeat;}
#container_bt {background: #eeeec4 url(images/container_bord.gif) 0 100% repeat-x;}
#container_bl {width:18px; height:18px; background: transparent url(images/container_bl.gif) 0 100% no-repeat;}
#container_br {width:18px; height:18px; background: transparent url(images/container_br.gif) 100% 100% no-repeat;}

#content {width:100%; margin:0 0 28px 0; }

.line { display:block; font-size:0; border-bottom:1px solid #ccd39d; margin:37px -50px 3px -25px; position: relative; }

.short_info {margin:12px 0 52px 0; line-height:240%; width:100%;}
.short_info span {color:#669900; font-size:120%;}
.short_info td {padding:0 81px 0 0;}
.short_info td.photo {width:20%; padding:0 0px 0 0;}

.photo table {margin: 0 50px 0 100px;}
.photo table td  {padding:0;}
.photo img {margin: 3px 6px 6px 6px}
.photo_white {background:#fff;}
.none {font-size:0;}
.shadow_tr {height:3px; padding:0 0 0 3px;  background:transparent url(images/shadow_tr.gif) 0 100% no-repeat;}
.shadow_bl {height:3px; width:3px;  background: url(images/shadow_bl.gif) 0 0 no-repeat;}
.shadow_br {height:3px; width:3px;  background:transparent url(images/shadow_br.gif) 0 0 no-repeat;}
.shadow_b {height:3px; width:100%;  background:transparent url(images/shadow_b.gif) 0 0 repeat-x;}
.shadow_r {width:3px;  background:transparent url(images/shadow_r.gif) 0 0 repeat-y;}

.profess {background:#e6e6b2; width:100%; margin: 0 0 15px 0;}
.profess ul li {padding: 0 0 14px 18px;}

.chronicle  td {padding-bottom:23px; }
.chronicle .date {width:130px; padding:0 30px 23px 50px; font-size:150%; color:#664400;}
.chronicle span {font-size:120%; color:#664400;}
.exper p {padding: 0 0 12px 0;}
.exper td {padding-bottom:11px;}
.block { padding: 10px 81px 0 51px; }

.allwidth {width:100%;}
.width50 {width:50%;}
.padleft32 {padding-left:32px;}
.padleft25 {padding-left:40px;}

.footer-container {text-align: center; padding: 25px 10px; background-color: #fff;}
.footer-container a {color: rgb(139, 165, 23);}